<meta charset="UTF-8" />
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <div class="container">
                <a href="#/" class="center brand-logo"><img style="margin-top: 15px" src="images/navlogo.png" alt="Logo"></a>
            	<div class="col s2">
	                <a href="#" class="red" id="button-collapse" data-closeonclick="false" data-activates="slide-out" data-sidenav="left" data-menuwidth="300">
	                	<i class="material-icons">menu</i>
	                </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav full">
    <ul collapsible collapsible-accordion>

        <li class="logo center-align">
            <img style="margin-top: 15px" src="images/navlogo.png" alt="Logo">
        </li>
        
        <li><a href="#/" class="collapsible-header waves-effect waves-red">HOME</a></li>
        <li><div  class="divider"></div></li>
        <li><a href="#/topics" class="collapsible-header waves-effect waves-red">ASSUNTOS</a></li>
        <li><a href="#/publications" class="collapsible-header waves-effect waves-red">PUBLICAÇÕES</a></li>
        <li><a href="#/comments" class="collapsible-header waves-effect waves-red">COMENTÁRIOS</a></li>
        <li><a href="#/partners" class="collapsible-header waves-effect waves-red">PARCERIAS</a></li>
        <li><div  class="divider"></div></li>
        <li><a href="#/login" class="collapsible-header waves-effect waves-red">LOGIN</a></li>
    </ul>
</ul>