<meta charset="UTF-8" />
<section class="tab-container blue lighten-4" id="tabs">

    <div class="container">
        
        <br/>

        <div class="slider" slider>
            <ul class="slides">
                <li>
                    <img src="images/Dica1.jpg">
                    <div class="caption center-align">
                        <h3>Prontidão para Mudanças</h3>
                        <h5 class="light grey-text text-lighten-3">Mantenha se atualizado sempre, pois o mundo  muda muito rápido, estaja preparado.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/Dica2.jpg">
                    <div class="caption left-align">
                        <h3>Dica</h3>
                        <h5 class="light grey-text text-lighten-3">Ao se interessar em trabalhar em uma empresa, deve-se conhecer bem seu papel em meio as organizações, desse modo ficará mais suas respostas e comportamento no momento da entrevista.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/Dica3.jpg">
                    <div class="caption right-align">
	                    <h3>Não sabe qual profissao seguir?</h3>
	                    <h5 class="light grey-text text-lighten-3">uma das nossa dicas...procure uma instituição e faca um teste vocacional.</h5>
                    </div>
                </li>
            </ul>
        </div>

        <br/>

    </div>

</section>