<meta charset="UTF-8" />
<div class="container">
    <div class="row">
        <div class="col s8">            
            
           	<div class="row">
			   	<div class="col s12">
					<nav style="margin-top: 8px">
						<div class="nav-wrapper white">
					   		<div class="col s12">
					     	<a ng-href="#/" class="breadcrumb blue-text font-bold">HOME</a>
					     	<a class="breadcrumb blue-text font-bold">RESULTADO DA BUSCA</a>
					  		</div>
						</div>
					</nav>
				</div>
			</div>

            <div ng-repeat="publication in publications" class="card-panel teal white">

			    <p class="amber-text">
			        <i class="material-icons" ng-repeat="s in star">star</i>
			    </p>
			
			    <h4 class="center-align">{{ publication.title }}</h4> 
			
			    <img materialboxed class="materialboxed responsive-img center" alt="" ng-src="{{ publication.videoUrl }}">
			    <img materialboxed class="materialboxed responsive-img center" alt="" ng-src="{{ publication.photoUrl }}">
			
			    <p><a href="#/">Publicado em {{ publication.date | date:"dd/MM/yyyy ' às ' HH:mm" }}</a></p>
			
			    <span><p>{{ publication.summary }}</p><span>
			
			    <div class="divider"></div>
			
			    <br>
			
			    <div class="card-action" style="text-align: right">
			        <div class="row">
			            <div class="col s4">
			               <p>{{ publication.ammountView }} Visualizações</p>
			            </div>
			            <div class="col s4">
			                <p>{{ publication.comments.lenght }} Comentários</p>
			            </div>
			            <div class="col s4">
			                <a class="waves-effect waves-light btn blue" ng-href="#/publication/title/{{ publication.titleUrl }}" >Ver mais</a>
			            </div>   
			        </div>   
			    </div>


            </div>

        </div>
        <div class="col s4">
            <div ng-include="'views/index/component/assuntos.html'"></div>
        </div>
    </div>
</div>