<meta charset="UTF-8" />
<footer class="page-footer footer-down blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text font-bold">QUEM SOMOS</h5>
                <p class="grey-text text-lighten-4">Acadêmicos do curso de pedagogia da faculdade SMG Maringá.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text font-bold">OBJETIVO</h5>
                <p class="grey-text text-lighten-4">Promover dicas para seu primeiro emprego.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Desde 2017
        </div>
    </div>
</footer>