<meta charset="UTF-8" />
<div class="container">

	<div class="row">
	   	<div class="col s12">
			<nav style="margin-top: 8px">
				<div class="nav-wrapper white">
			   		<div class="col s12">
			     	<a ng-href="#/" class="breadcrumb blue-text font-bold">HOME</a>
			     	<a class="breadcrumb blue-text font-bold">PARCEIRO</a>
			  		</div>
				</div>
			</nav>
		</div>
	</div>

    <div class="row">
        <div class="col s8">
            
            <div class="card-panel teal white">
	            <div class="row">
					<div class="col s6">
		                <img materialboxed class="materialboxed responsive-img " alt="" ng-src="{{ partner.photo }}">
		            </div>
		            <div class="col s6">    
		                <h4 class="center-align">{{ partner.name }}</h4> 
		
		                <span><p>{{ partner.description }}</p><span>
					</div>
				</div>
            </div>

        </div>
        <div class="col s4">
            <div ng-include="'views/index/component/parceiros.html'"></div>
        </div>
    </div>
</div>