<div class="container">
    <div class="row">
        <div class="col s8">
            
            <div class="card-panel teal white">

                <p class="amber-text">
                    <i class="material-icons" ng-repeat="star in [0,1,2,3]">star</i>
                </p>

                <h4 class="center-align">{{ publication.title }}</h4> 

                <img materialboxed class="materialboxed responsive-img " alt="" ng-src="{{ publication.imageUrl }}">

                <p><a href="#/">Publicado em {{ publication.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</a></p>

                <span><p>{{ publication.completeDescription }}</p><span>

                <div class="divider"></div>

                <p style="text-align: right">451 Visualizações</p>

                <br>

                <form class="input-field" name="comentarForm">
                    <textarea id="textarea1" class="materialize-textarea" required ng-model="comentario.texto"></textarea>
                    <label for="textarea1">Deixe seu comentário aqui...</label>
                </form>
                
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="comentarForm.$invalid" ng-click="comentar(publicacao)">Comentar
                    </button>
                </div>
            
                <br>

                <h5><strong>Comentários</strong></h5>  

                <ul class="collection" ng-if="publicacao.comentarios.length > 0">
                    <li class="collection-item" ng-repeat="comentario in publicacao.comentarios">
                        <a href="" ng-click="curtirComentario(comentario)" class="secondary-content"> {{ comentario.qntCurtidas }} <i class="material-icons">grade</i></a>
                        <a ng-href="#/publicacao/{{ publicacao.id }}"> {{comentario.dataCriacao | date}} </a> 
                        <br>
                        <p>
                            {{comentario.texto}}
                        </p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col s4">
            <div ng-include="'views/index/component/assuntos.html'"></div>
        </div>
    </div>
</div>